html, body { 
  height:100%;
  background-color: #3d3939;
}

.mainContent {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d3939;
  color: rgb(219, 219, 219);
  font-size: 14px;
}

.headerContent {
  background-color: #000000;
  min-height: 15vh;
  padding-right: 10px;
  font-size: 17px;
  color: white;
}
